@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap');


body{
    background-color: hsl(212, 45%, 89%);
    box-sizing: border-box;
}

.card{
    width: 250px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    margin-top: 15%;
}


.image{
    padding: 10px;
    /* border: 1px solid #333; */
}

#qr_code{
    width: 230px;
    margin: auto;
    border-radius: 10px ;
}

.text{
    font-family: Outfit;
    text-align: center;
    padding: 0 25px;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}


.header{
    font-weight: 700;
    font-size: 15px;

    padding: 0 15px;
    color: hsl(218, 44%, 22%);
    /* border: 1px solid #333; */



}


.descript{
    font-weight: 400;
    font-size: 12px;

    padding: 0px 7px;
    text-align: center;

    color: gray;
    /* border: 1px solid #333; */

}











